<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>User Regiter Page</h1></center>
        <form style="display: flex; flex-direction: column; gap: 10px; width: 50% !important; margin: auto;" action="/register_user" method="post">
            <label for="name">Name: </label>
            <input style="padding: 10px; border-radius: 3px; " type="text" placeholder="Enter Name" name="name" required>
            <label for="email">Email: </label>
            <input style="padding: 10px; border-radius: 3px; " type="text" placeholder="Enter Email" name="email" required>
            <label for="password">Password: </label>
            <input style="padding: 10px; border-radius: 3px; " type="text" placeholder="Password" name="password" required>
            <button type="submit" style="padding: 10px; border: none;width: 40%; background-color: lightgreen; cursor: pointer; margin: auto; border-radius: 5px;">Regiter</button>
        </form>

</body>
</html>